/*
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 * Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
 */
/* 
    Created on : Nov 30, 2023, 12:38:22 AM
    Author     : zxsie
*/

/* 
 * Styling for the root container.
 * Applies a background image of cars, making it a visually appealing website background.
 * The background-size property is set to cover, ensuring the image covers the entire container.
 */
root {
    -fx-background-image: url('../Image/Firefly A website background full of cars 36764.jpg');
    -fx-background-size: cover;
}
